@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$fontMain: 'Roboto', sans-serif;

$htmlFontSize: 62.5%;
$textXl:4em;
$textLg:3em;
$textMd:2em;
$textSm:1.6em;